Repository textventure/play: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci(travis): rename .travis.yaml -> .travis.yml
  .travis.yml
Due: none

fix(app): revert branch paragraph margin-bottom to spacing 1
  src/App/styles.js
Due: eslint --fix

docs(readme): add travis and coveralls badges
  README.md
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(scripts): set CI=true so tests do not run in watch mode
  scripts/deploy.sh
Due: none

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(index): comment out service worker
  src/index.js
Due: eslint --fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(public): fix relative links in demo.yaml
  public/demo.yaml
Due: prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(app): ensure path is kept if there's an error loading story
  src/App/index.js
Due: eslint --fix

feat(env): move "homepage" from package.json to .env PUBLIC_URL
  .env
  package.json
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(env): keep only path in PUBLIC_URL (remove protocal and domain)
  .env
Due: none

ci(github): migrate from Travis CI to GitHub Actions
  .github/workflows/build.yml
  .travis.yml
Due: none

docs(readme): update build status badge and document lint scripts
  README.md
Due: prettier --write

gitploy
  asset-manifest.json
  demo.yaml
  index.html
  precache-manifest.eb22b6246c2a0c3769a26aaf95e58454.js
  service-worker.js
  static/js/2.a33600d2.chunk.js
  static/js/2.a33600d2.chunk.js.LICENSE.txt
  static/js/2.a33600d2.chunk.js.map
  static/js/main.deee7375.chunk.js
  static/js/main.deee7375.chunk.js.map
  static/js/runtime-main.f1b9e660.js
  static/js/runtime-main.f1b9e660.js.map
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,html,json,md,yaml}
